<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Ejercicio AngularJS 001</title>
	<link type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body ng-app>
	<div class="container">
		<div class="page-header">
  			<h1>AngularJS: Ejercicio 001 <small>Repaso de conceptos elementales</small></h1>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				Uso de expresiones y filtros
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-xs-5">Expresión</th>
							<th class="col-xs-2">Salida</th>
							<th class="col-xs-5">Comentario</th>
						</tr>
					<thead>
					<tbody>
						<tr>
							<td><code ng-non-bindable>2 + 3 = {{ 2 + 3 }}</code></td>
							<td>2 + 3 = {{ 2 + 3 }}</td>
							<td>Las expresiones entre dobles llaves son evaluadas y reemplazadas por su resultado.</td>
						</tr>
						<tr>
							<td><code ng-non-bindable>{{ 'AngularJS' | uppercase }}</code></td>
							<td>{{ 'AngularJS' | uppercase }}</td>
							<td>Pueden aplicarse filtros de formato a las expresiones.</td>
						</tr>
						<tr>
							<td><code ng-non-bindable>{{ 987.654321 | number:2 }}</code></td>
							<td>{{ 987.654321 | number:2 }}</td>
							<td>Ejemplo de filtro numérico</td>
						</tr>
						<tr>
							<td><code ng-non-bindable>{{ 35.22343 | currency }}</code></td>
							<td>{{ 35.22343 | currency }}</td>
							<td>Algunos filtros aplican la configuración local, que se establece enlazando scripts específicos de la región como "angular-locale_es-es.js" </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				Uso de directiva ng-model para enlazar un input con el contenido de una etiqueta HTML
			</div>
			<div class="panel-body">
				<div class="col-xs-12 col-md-4">
					<input name="txtNombre" type="text" ng-model="nombre" placeholder="Introduce tu nombre"/>
					<p>Bienvenido a AngularJS, {{nombre}}</p>
					<p>Bienvenido a AngularJS, <span ng-bind="nombre"></span></p>
				</div>
				<div class="col-xs-12 col-md-8">
					<pre><span ng-non-bindable>&lt;input name="txtNombre" type="text" ng-model="nombre"/&gt;
Bienvenido a AngularJS, {{nombre}}
Bienvenido a AngularJS, &lt;span ng-bind="nombre"&gt;&lt;/span&gt;</span></pre>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-i18n/angular-locale_es-es.js"></script>
	<!-- Fin Scripts -->
</body>
</html>